nav{
    background: -webkit-linear-gradient(to right, #243b55,#141e30);
    background: linear-gradient(to right,#243b55,#141e30);
    
    
}

a{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    margin: 0px 8px;
}

.nav-link{
    cursor: pointer;
}