<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Inicio" style="margin-left: 120px;">
      <img src="/assets/recursos/logo.png" width="32px" height="27.48" alt="">
    </a>
    <div class="collapse navbar-collapse justify-content-end" style="margin-right: 100px;">
      <div>
        <ul class="navbar-nav" *ngIf="user$ |async as user; else loggout">
          <a class="nav-link" routerLink="/Dashboard">Dashboard</a>
          <a class="nav-link" routerLink="/Agregar">Agregar</a>
          <a *ngIf="user" class="nav-link" (click)="logout()"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" style="margin-bottom: 1px;" fill="currentColor" class="bi bi-box-arrow-right"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg> Salir</a>
        </ul>
        <ng-template #loggout>
          <ul class="navbar-nav">
            <a class="nav-link" routerLink="Pelis">Películas</a>
            <a class="nav-link" routerLink="Series">Series</a>
            <a class="nav-link" routerLink="/Ingresar">Ingresar <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg></a>
          </ul>
        </ng-template>
      </div>


    </div>
  </div>
</nav>