<ng-container *ngIf="flag ">
    <div class="row align-items-start ">
        <ng-container *ngFor="let catalogo of movie_series">
            <div *ngIf="tipo == catalogo.media_type || tipo == 'todo' " class="card col-3"
                (click)="Detalles(catalogo.media_type, catalogo.id)" style="cursor: pointer;">
                <div class="puntuacion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                    <p style="margin-top: 19px; margin-left: 5.3px;">{{catalogo.vote_average}}</p>
                </div>
                <div>
                    <img src="https://image.tmdb.org/t/p/original{{catalogo.poster_path}}" alt="" class="img-card">
                </div>
                <div class="letra-card">{{catalogo.title}} {{catalogo.name}}</div>
            </div>
        </ng-container>

    </div>
</ng-container>

<ng-container *ngIf=" !flag ">
    <div class="row align-items-start " *ngIf="user$|async as user; else logout">
        <ng-container *ngFor="let catalogo of movie_series">
            <div class="card col-3">
                <div (click)="Detalles(tipo, catalogo.id)" style="cursor: pointer;">
                    <div class="puntuacion">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                            class="bi bi-star" viewBox="0 0 16 16">
                            <path
                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                        </svg>
                        <p style="margin-top: 19px; margin-left: 5.3px;">{{catalogo.vote_average}}</p>
                    </div>
                    <div *ngIf="tipo == 'movie'">
                        <img src="https://image.tmdb.org/t/p/original{{catalogo.poster_path}}" class="img-card">
                    </div>
                    <div *ngIf="tipo == 'tv'">
                        <img src="https://image.tmdb.org/t/p/original{{catalogo.poster_path}}"class="img-card">
                    </div>
                    <div class="letra-card">{{catalogo.original_title}} {{catalogo.name}}</div>
                </div>
                <div class="c-eliminar">
                    <div class="linea"></div>
                    <div (click)="Eliminar(catalogo)" class="eliminar">Eliminar de la lista</div>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #logout>
        <div class="d-flex justify-content-start">
            <h2 class="letra-contador">Todos<small>({{contador()}})</small></h2>
        </div>
        <div class="row align-items-start " >
            <ng-container *ngFor="let catalogo of movie_series">
                <div class="card col-3">
                    <div (click)="Detalles(tipo, catalogo.id)" style="cursor: pointer;">
                        <div class="puntuacion">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                                class="bi bi-star" viewBox="0 0 16 16">
                                <path
                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                            <p style="margin-top: 19px; margin-left: 5.3px;">{{catalogo.vote_average}}</p>
                        </div>
                        <div>
                            <img src="https://image.tmdb.org/t/p/original{{catalogo.poster_path}}" alt=""
                                class="img-card">

                        </div>
                        <div class="letra-card">{{catalogo.title}} {{catalogo.name}}</div>
                    </div>
                </div>

            </ng-container>
        </div>
    </ng-template>

</ng-container>