/*comienzo card*/
.col-3{
    width: 282px;
    margin-right: 24px;
}

.card{
    align-items: flex-start;
    padding: 8px 8px 16px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);  
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.5s;
    justify-content: center;
    display: flex;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img-card{
    height: 400px;
    width: 266px;
    border-radius: 8px;
}


.puntuacion{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    width: 60px;
    height: 40px;
    left: 16px;
    top: 18px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    font-family: Poppins;
    color: #FFAD49;
}

.letra-card{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBEEF5;
    margin: 24px 16px;
}
.letra-card:hover{
    color: rgb(104, 141, 141);
}

.c-eliminar{
    align-items: center; 
    display: flex;
    margin-left: 16px;
    
}

.linea{

    Width:12px;
    Top:12px;
    Left:6px;
    border: 1.5px solid #FF6161;
    background-color:#FF6161 ;
    border-radius: 2px;
    
}

.eliminar{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FF6161;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
.eliminar:hover{
    color: #f39d9d;
    cursor: pointer;
}
/*comienzo letra y contador*/
.letra-contador{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 24px;
}
.contador{
    font-family: Poppins;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 30px;
}

/*final card*/