<div class="fondo">
    <div class="contenedor">
        <h1 class="titulo">PelisUP!</h1>
        <h6 class="subtitulo">Plataforma para ver películas y series 😉</h6>
        <div class="d-flex searchBox" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" 
                class="bi bi-search icono" viewBox="0 0 16 16" style="cursor: pointer;">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            <input class="search" type="text"  name="search" (ngModelChange)="Busca($event)"
                [(ngModel)]="selectedItem" placeholder=" Buscar Peliculas y Series" font-family="Poppins">
        </div>
        <div class="">
            <div class="row botones" role="group" aria-label="Basic outlined example">
                <button class=" btn boton col-4" [ngClass]="tipo == 'todo' ? 'boton2':'boton' "
                    (click)="Filter($event.target)" name="todo">Todos</button>
                <button class=" btn boton col-4" [ngClass]=" {'boton2': tipo == 'movie' }"
                    (click)="Filter($event.target)" name="movie">películas</button>
                <button class=" btn boton col-4" [ngClass]="{'boton2': tipo == 'tv' } "
                    (click)="Filter($event.target)" name="tv">Series</button>
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <h2 class="letra-contador" style="text-transform: capitalize;">{{tipo}}<small>({{contador()}})</small></h2>
        </div>
        <app-card [tipo]="tipo" [movie_series]="movie_series" [flag]="flag"></app-card>


    </div>
</div>