
.contenedor{
    margin-left: 120px;
    min-height: 100vh;
    min-width: 100vh; 
}
.titulo{
    font-family: Poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    
}
.subtitulo{
    font-family: Poppins;
    line-height: 24px;
    color: #8E95A9;
    }
/*comienzo buscador*/
.searchBox{
    width: 344px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins;
    color: rgb(197, 196, 196);
    align-items: center;
    margin-top: 48px;
}
.searchBox:hover{
    border: 2px solid #8b99bd;
    background: rgba(59, 59, 59, 0.1);

}
.search{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(197, 196, 196);
    background: none;
    outline: none;
    border: none;
    height: 64px;
    border-radius: 12px;
    margin-left: 5px;
    flex: 1;
}

.icono{
    color: #414d6d;
    margin-left: 5px;
}

.icono:hover{
    color: #768bc4
}

/*comienzo botones*/
.botones{
    
    padding: 8px;
    margin-top: 150px;
    width: 400px;
    height: 56px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    font-family: Poppins;
    margin-left: 2px;
}
.boton{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #8E95A9;
    border-radius: 12px;
    transition: 0.5s;
}
.boton:hover {
    
    color:white; 
    transition: 0.5s;
}

.boton2{
    
    background: rgb(123, 110, 246);
    border-radius: 12px;
    color:white; 
    transition: 0.5s;
}
/*comienzo letra y contador*/
.letra-contador{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 24px;
}
.contador{
    font-family: Poppins;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 30px;
}

/*comienzo card*/
.col-3{
    width: 282px;
    margin-right: 24px;
}

.card{
    align-items: flex-start;
    padding: 8px 8px 16px;
    width: 282px;
    height: 480px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);  
    border-radius: 12px;
    
    margin-top: 20px;
    transition: 0.5s;
}
.card:hover{
    background:rgba(100, 117, 163, 0.8);
    transform: scale(1.1);
    transition: 0.5s;
}
.img-card{
    height: 400px;
    width: 266px;
    border-radius: 8px;
}


.puntuacion{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    width: 60px;
    height: 40px;
    left: 16px;
    top: 18px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    font-family: Poppins;
    color: #FFAD49;
}

.letra-card{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBEEF5;
    margin: 24px 16px;
}
.letra-card:hover{
    color: rgb(104, 141, 141);
}

/*final card*/