<div class="container">
    <div>
        <h1>Bienvenido</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6 btn1" routerLink="/Pelis">
                <p class="cantidadMS">{{movieC}}</p>
                <p class="TpelisSeries">Peliculas</p> 
            </div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 btn1"  routerLink="/Series"> 
                <p class="cantidadMS">{{tvC}}</p>
                <p class="TpelisSeries">Series</p> 
            </div>
        </div>
    </div>
</div>