h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    margin: 0px 24px;
    padding-top: 40px;
}

.btn1{
    padding: 40px 16px;
    position: static;
    width: 588px;
    height: 152px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;
    flex-grow: 1;
    margin: 0px 24px;
    margin-top: 40px ;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.btn1:hover{
    border: 2px solid white;
}

.TpelisSeries{
    left: 270px;
    top: 88px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.cantidadMS{
    left: 274.5px;
    top: 40px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    margin: 8px 0px;
}