
.contenedor{
    margin-left: 120px;
    min-height: 100vh;
    min-width: 100vh; 
}
.titulo{
    font-family: Poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    
}
.subtitulo{
    font-family: Poppins;
    font-size: 12px;
    line-height: 16px;
    color: #BEB7FB;
    margin-left: 5px;
    padding-top: 50px;    
    }
/*comienzo buscador*/

.buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchBox{
    width: 344px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins;
    color: rgb(197, 196, 196);
    align-items: center;
    margin-top: 48px;
}
.searchBox:hover{
    border: 2px solid #8b99bd;
    background: rgba(59, 59, 59, 0.1);

}
.search{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(197, 196, 196);
    background: none;
    outline: none;
    border: none;
    height: 64px;
    border-radius: 12px;
    margin-left: 5px;
    flex: 1;
}

.icono{
    color: #414d6d;
    margin-left: 5px;
}

.icono:hover{
    color: #768bc4
}

.boton-s{
    padding: 16px 32px;
    position: static;
    width: 119px;
    background: #7B6EF6;
    border: 2px solid #7B6EF6;
    border-radius: 12px;
    margin-left: 8px;
    margin-top: 48px;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.boton-s:hover{
    background: #5f4eff;
    border: 2px solid #5f4eff;
}



