<div class="fondo">
    <div class="contenedor">
        <div *ngIf="user$ | async as user; else logout">
            <h1 class="subtitulo">PelisUP!</h1>
            <h6 class="titulo">Películas</h6>
            <div>
                <div class="buscador">
                    <div class="d-flex searchBox">
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-search icono" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                        <input class="search" type="text" name="search" [(ngModel)]="selectedItem"  (ngModelChange)="BuscaV($event)"
                            placeholder=" Buscar Series" font-family="Poppins">

                    </div>
                    <button class="btn boton-s" (click)="Busca2(selectedItem)">Buscar</button>
                </div>
                <div>
                    <app-card [tipo]="tipo" [movie_series]="movie_series2"></app-card>
                </div>
            </div>
        </div>
        <ng-template #logout>
            <h1 class="subtitulo">PelisUP!</h1>
            <h6 class="titulo">Películas</h6>
            <div class="buscador">
                <div class="d-flex searchBox">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-search icono" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </a>
                    <input class="search" type="text" name="search" (ngModelChange)="Busca($event)"
                        [(ngModel)]="selectedItem" placeholder=" Buscar Series" font-family="Poppins">

                </div>
            </div>
            <div>
                <app-card [tipo]="tipo" [movie_series]="movie_series"></app-card>
            </div>

        </ng-template>
    </div>


</div>