
.contenedor{
    margin-left: 120px;
    min-height: 100vh;
    min-width: 100vh; 
}
.titulo{
    font-family: Poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
    
}
/*comienzo buscador*/

.buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchBox{
    width: 344px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Poppins;
    color: rgb(197, 196, 196);
    align-items: center;
    margin-top: 48px;
}
.searchBox:hover{
    border: 2px solid #8b99bd;
    background: rgba(59, 59, 59, 0.1);

}
.search{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgb(197, 196, 196);
    background: none;
    outline: none;
    border: none;
    height: 64px;
    border-radius: 12px;
    margin-left: 5px;
    flex: 1;
}

.icono{
    color: #414d6d;
    margin-left: 5px;
}

.icono:hover{
    color: #768bc4
}

.boton-s{
    padding: 16px 32px;
    position: static;
    width: 119px;
    background: #7B6EF6;
    border: 2px solid #7B6EF6;
    border-radius: 12px;
    margin-left: 8px;
    margin-top: 48px;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.boton-s:hover{
    background: #5f4eff;
    border: 2px solid #5f4eff;
}
/*comienzo card*/
.col-3{
    width: 282px;
    margin-right: 24px;
}

.card{
    align-items: flex-start;
    padding: 8px 8px 16px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);  
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.5s;
    justify-content: center;
    display: flex;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img-card{
    height: 400px;
    width: 266px;
    border-radius: 8px;
}


.puntuacion{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    width: 60px;
    height: 40px;
    left: 16px;
    top: 18px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    font-family: Poppins;
    color: #FFAD49;
}

.letra-card{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBEEF5;
    margin: 24px 16px;
}
.letra-card:hover{
    color: rgb(104, 141, 141);
}

.iconoadd{
    
    color: #7B6EF6;
}
.iconoadd:hover{
    color: #4835ee;
}
.agregar{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #7B6EF6;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
.agregar:hover{
    color: #4835ee;
    cursor: pointer;
}
/*comienzo letra y contador*/
.letra-contador{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 24px;
}
.contador{
    font-family: Poppins;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
    margin-top: 30px;
}
.c-eliminar{
    align-items: center; 
    display: flex;
    margin-left: 16px;
    
}
.c-eliminar:hover{
    color: #fda130;
}

.linea{

    Width:12px;
    Top:12px;
    Left:6px;
    border: 1.5px solid #FF6161;
    background-color:#FF6161 ;
    border-radius: 2px;
    
}

.eliminar{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFBD6D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
.eliminar:hover{
    color: #fda130;
    cursor: pointer;
}
/*final card*/