<div class="contenedor">
    <h1 class="titulo">Agregar nuevo item</h1>
    <div>
        <div class="buscador">
            <div class="d-flex searchBox">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-search icono" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </a>
                <input class="search" type="text" name="search" [(ngModel)]="selectedItem"
                    placeholder=" Buscar Peliculas y Series" font-family="Poppins">

            </div>
            <button class="btn boton-s" (click)="Busca(selectedItem)">Buscar</button>
        </div>
        <div>
            <div class="row align-items-start ">
                <ng-container *ngFor="let catalogo of movie_series">
                    <div class="card col-3">
                        <div>
                            <!-- <div (click)="Detalles(tipo, catalogo.id)" style="cursor: pointer;">-->
                            <div class="puntuacion">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                                    class="bi bi-star" viewBox="0 0 16 16">
                                    <path
                                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                </svg>
                                <p style="margin-top: 19px; margin-left: 5.3px;">{{catalogo.vote_average}}</p>
                            </div>
                            <div>
                                <img src="https://image.tmdb.org/t/p/original/{{catalogo.poster_path}}"
                                    class="img-card">

                            </div>

                            <div class="letra-card">{{catalogo.original_title}} {{catalogo.name}}</div>
                        </div>

                        <div class="c-Agregar" *ngIf="!compare(catalogo) ; else elimi">
                            <div (click)="agregar(catalogo)" class="agregar"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="22" height="22" fill="currentColor" class="bi bi-plus iconoadd"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>Agregar a mi lista</div>
                        </div>
                        <ng-template #elimi>
                            <div class="c-eliminar">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 9V15C22 15.22 22 15.44 21.98 15.65C21.16 14.64 19.91 14 18.5 14C17.44 14 16.46 14.37 15.69 14.99C14.65 15.81 14 17.08 14 18.5C14 19.34 14.24 20.14 14.65 20.82C14.92 21.27 15.26 21.66 15.66 21.98C15.45 22 15.23 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H15C20 2 22 4 22 9Z" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2.52002 7.10999H21.48" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.52002 2.10999V6.96997" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.48 2.10999V6.52002" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M23 18.5C23 19.34 22.76 20.14 22.35 20.82C22.11 21.22 21.81 21.58 21.46 21.88C20.67 22.58 19.64 23 18.5 23C17.43 23 16.44 22.62 15.67 21.98H15.66C15.26 21.66 14.92 21.27 14.65 20.82C14.24 20.14 14 19.34 14 18.5C14 17.08 14.65 15.81 15.69 14.99C16.46 14.37 17.44 14 18.5 14C19.91 14 21.16 14.64 21.98 15.65C22.62 16.42 23 17.42 23 18.5Z" stroke="#FFBD6D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.75 18.5L17.86 19.61L20.26 17.39" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div (click)="Eliminar(catalogo)" class="eliminar">Eliminar de la lista</div>
                            </div>

                        </ng-template>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>