
.fondo{
    background:rgba(18, 24, 41, 1);
    background: -webkit-linear-gradient(to right, #243b55,#141e30);
    background: linear-gradient(to right,#243b55,#141e30);
    min-height: 100vh;
    min-width: 100vh;
}