.fondo{
    height: 200vh;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    align-items: flex-start;
}


.c-img1{   
    position: absolute;
    width: 100vh;
    height: 480px;
    left: 120px;
    top: 120px;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    width: 170vh;
    height: 480px;
    left: 120px;
    top: 120px;
    border-radius: 40px;
    
}

.c-titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;

    position: absolute;
    width: 560px;
    height: 144px;
    left: 198px;
    top: 528px;

    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
}
.titulo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.c-img2{
    display: flex;
    position: absolute;
    left: 200px;
    top: 752px;
}
.img2{
    width: 480px;
    height: 720px;
    
    border-radius: 24px;
}

.detalles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 480px;
    height: 680px;
    left: 760px;
    top: 752px;
    
}

.tagline{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #EBEEF5;
}

.descripcion{
    margin-top: 24px;
    font-family: Poppins;
    font-size: 20px;
    line-height: 32px;
    color: #8E95A9;
}


.puntuacion{
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    
    width: 60px;
    height: 40px;
    left: 16px;
    
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    font-family: Poppins;
    color: #FFAD49;
}
.container{
    padding: 0%;
}
.mt{
    margin-top: 24px;
}

.t-atributos{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
}

.l-atributos{
    font-family: Poppins;
    font-size: 20px;
    line-height: 32px;
    color: #C3C8D4;
    text-transform: capitalize;
}


.list{
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    color: #C3C8D4;
    padding-right: 7px;
}
.list::after{
    content: ',';
}
.list:last-child::after{
    content: '';
}