<div class="fondo">

    <ng-container *ngIf="flag">
        <div class="c-img1">
            <img src="https://image.tmdb.org/t/p/original{{series.backdrop_path}}" alt="" class="img1">
        </div>
        <div class="c-titulo">
            <p style="color: #BEB7FB ; text-transform: capitalize;">PelisUp! / {{media}}</p>
            <h2 class="titulo">{{series.name}}</h2>
        </div>
        <div class="c-img2">
            <img src="https://image.tmdb.org/t/p/original{{series.poster_path}}" alt="" class="img2">
        </div>
        <div class="detalles">
            <h2 class="tagline">{{series.tagline}}</h2>
            <h3 class="descripcion">{{series.overview}}</h3>
            <div class="puntuacion">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                    class="bi bi-star" viewBox="0 0 16 16">
                    <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
                <p style="margin-top: 19px; margin-left: 5.3px;">{{series.vote_average}}</p>
            </div>
            <div class="container">
                <div class="row mt">
                    <div class="col-md-4 t-atributos">Tipo</div>
                    <div class="col-md-4 offset-md-4 t-atributos">Estado</div>
                    <div class="col-md-4 l-atributos"> {{media}}</div>
                    <div class="col-md-4 offset-md-4 l-atributos"> {{series.status}}</div>
                </div>

                <div class="row mt">
                    <div class="col-md-4 t-atributos">Primera emisión</div>
                    <div class="col-md-4 offset-md-4 t-atributos">Última emisión</div>
                    <div class="col-md-4 l-atributos"> {{series.first_air_date}}
                    </div>
                    <div class="col-md-4 offset-md-4 l-atributos"> {{series.last_air_date}}</div>
                </div>

                <div class="row mt">
                    <div class="col-md-4 t-atributos">No. Temporadas</div>
                    <div class="col-md-4 offset-md-4 t-atributos">No. Episodios</div>
                    <div class="col-md-4 l-atributos"> {{series.number_of_seasons}}</div>
                    <div class="col-md-4 offset-md-4 l-atributos"> {{series.number_of_episodes}}</div>
                </div>

                <div class="row mt">
                    <div class="col-md-4 t-atributos">Duracion de episodio</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <div class="col-md-4 l-atributos">{{series.episode_run_time}} min</div>
                </div>
                <div class="row mt">
                    <div class="col-md-4 t-atributos">Generos</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <ul class="list-group list-group-horizontal l-atributos" style="padding: 12px;">
                        <li *ngFor="let g of series.genres" class="list">{{g.name}}</li>
                    </ul>

                </div>
            </div>
        </div>
    </ng-container>
    <!-- comienzo detalles movie-->
    <ng-container *ngIf="!flag">
        <div class="c-img1">
            <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="" class="img1">
        </div>
        <div class="c-titulo">
            <p style="color: #BEB7FB ;">PelisUp! / {{media}}</p>
            <h2 class="titulo">{{movie.title}}</h2>
        </div>
        <div class="c-img2">
            <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="" class="img2">
        </div>
        <div class="detalles">
            <h1 class="tagline">{{movie.tagline}}</h1>
            <h3 class="descripcion">{{movie.overview}}</h3>
            <div class="puntuacion">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" marg fill="currentColor"
                    class="bi bi-star" viewBox="0 0 16 16">
                    <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
                <p style="margin-top: 19px; margin-left: 5.3px;">{{movie.vote_average}}</p>
            </div>
            <div class="container">
                <div class="row mt">
                    <div class="col-md-4 t-atributos">Tipo</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <div class="col-md-4 l-atributos"> {{media}}</div>

                </div>

                <div class="row mt">
                    <div class="col-md-4 t-atributos">Fecha de lanzamiento</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <div class="col-md-4 l-atributos"> {{movie.release_date}}</div>

                </div>
                <div class="row mt">
                    <div class="col-md-4 t-atributos">Duracion</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <div class="col-md-4 l-atributos">{{movie.runtime}} min</div>

                </div>
                <div class="row mt">
                    <div class="col-md-4 t-atributos">Generos</div>
                    <div class="col-md-4 offset-md-4 t-atributos"></div>
                    <ul class="list-group list-group-horizontal l-atributos" style="padding: 12px;">
                        <li *ngFor="let g of movie.genres" class="list">{{g.name}}</li>
                    </ul>

                </div>
            </div>

        </div>
    </ng-container>
</div>