<div class="fondo">
    <div class="container">
        <div class="contenedor-img">
            <img src="/assets/recursos/Saly-11.png" alt="">
        </div>
        <form [formGroup]="formLogin" class="contenedor-inputs ">
            <h1>Ingresar</h1>
            <div class=" form-floating mb-3 ">
                <input type="email" class="form-control input" id="floatingInput" formControlName="email"
                    placeholder="email">
                <label for="floatingInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope-fill" style="margin-right: 10px;" viewBox="0 0 17 17">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                    </svg>
                    Email
                </label>
                <div *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].dirty" class="alert"
                    style="color: rgb(240, 41, 41);" role="alert">
                    <span *ngIf="formLogin.controls['email'].errors?.['required']">Email requerido</span>
                    <span *ngIf="formLogin.controls['email'].errors?.['email']">Email no valido</span>
                </div>
            </div>
            <div class="form-floating  ">
                <input type="password" class="form-control" formControlName="password" id="floatingInput"
                    placeholder="password">
                <label for="floatingInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key"
                        style="margin-right: 10px;" viewBox="0 0 16 16">
                        <path
                            d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    Contraseña
                </label>
                <div *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].dirty"
                    class="alert" style="color: rgb(240, 41, 41);" role="alert">
                    <span *ngIf="formLogin.controls['password'].errors?.['required']">Contraseña requerida</span>
                </div>
            </div>
            
            <button (click)="ingresar()" [disabled]="!formLogin.valid" class="btn boton">Ingresar</button>
            
            <div style="display: flex; margin-top: 5px;">
                <p>¿No tenés cuenta? <a routerLink="/Registro" style="cursor: pointer;" > Crear cuenta</a></p>      
            </div>

            <div *ngIf="datosC" class="alert" style="color: rgb(240, 41, 41); margin-top: 15px;" role="alert">
                <span> Email o Contraseña son incorrectos </span>
            </div>

            <div style="display: flex;">
                <div class="line"></div>
                <p class="letraO">ó</p>
                <div class="line"></div>
            </div>


            <button (click)="ingresarGoogle()" class="btn boton2"> <img src="/assets/image 1.png" alt=""></button>
            
            
        </form>

        

    </div>


</div>