<div class="fondo">
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand letra" href="#">
                <img src="/assets/recursos/logo.png" width="32px" height="27.48" alt="">PelisUP!
            </a>
            <div class="footer-copyright text-end py-3 letra">© By: Mati Salinas</div>
        </div>

    </nav>

</div>