.fondo{
    background: -webkit-linear-gradient(to right, #243b55,#141e30);
    background: linear-gradient(to right,#243b55,#141e30);
    
}
.letra{
    font-family: Poppins;
    line-height: 80px;
    color: #EBEEF5;
}