.fondo{
    background: -webkit-linear-gradient(to right, #243b55,#141e30);
    background: linear-gradient(to right,#243b55,#141e30);
    height: 100vh;
    width: 100vw; 
}
.container{
    display: flex;
    align-items: start;
    margin-left: 120px;
}

.contenedor-img{
    width: 384px;
    height: 560px;
    background: #1d2741;
    border-radius: 36px;
    margin-top: 16px;
}



h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #C3C8D4;
    flex-grow: 0;
    margin: 40px 0px;
}

.contenedor-inputs{
    width: 486px;
    height: 144px;
    order: 1;
    margin-top: 50px;
    margin-left: 226px;
    color: #8088a0;
    font-family: Poppins;
    font-size: 14px;
    line-height: 25px;
}


.form-control{
    width: 486px;
    height: 64px;
    background: none;
    border: 1px solid #323B54;
    border-radius: 12px; 
    color: #d1d5e0;
}
.form-control:hover{
   border: 1px solid #8696c2;
}

.boton{
    margin-top: 40px;
    padding: 16px 32px;
    width: 486px;
    left: calc(50% - 486px/2);
    background: #7B6EF6;
    border: 2px solid #7B6EF6;
    border-radius: 12px;
    
}

.boton:hover{
    color: white;
}

.letraO{
    margin-top: 26px;
    width: 20px;
    height: 40px;
    margin-left: 9px;
    margin-right: 9px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #C3C8D4;
}

.line{
    margin-top: 46px;
    border-radius:solid 2px;
    width: 218px;
    height: 5px;
    background: #323e5f;
}

.boton2{
    margin-left: 72px;
    background: none;
}
